# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/videos

# build
.next
.now
*.tsbuildinfo

# misc
.DS_Store
.env*.local
cypress.env.json
.idea

# package managers
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Sentry
.sentryclirc

# Vercel
.vercel
