name: CI

on:
  pull_request:
    branches: [main]
  merge_group:

permissions:
  contents: read
  actions: write
  checks: write

env:
  # Skip Cypress installation in the whole workflow, not necessary here
  CYPRESS_INSTALL_BINARY: 0

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  code_validation:
    strategy:
      fail-fast: false
      matrix:
        validation_script:
          [
            'lint',
            'type-check',
            'type-check:cypress',
            'format:check',
            'test:ci',
          ]
    name: 'Code Validation: ${{ matrix.validation_script }}'
    runs-on: ubuntu-latest
    steps:
      # Arrange
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
      - name: Setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      # Act
      - name: Run script
        run: pnpm ${{ matrix.validation_script }}

      - name: Upload coverage reports
        if: matrix.validation_script == 'test:ci'
        uses: codecov/codecov-action@1e68e06f1dbfde0e4cefc87efeba9e4643565303 # v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
